/*
  ========================================
  VARIABLES:
    COLORS
  ========================================
*/ 
:root {
    --color-white: #FFFFFF;
    --color-black: #343A40;
    --color-yellow: #FFF3BF;
    --color-yellow-brighter: #FFE066;
    --color-grey: #737373;
    --color-red: #C6302C;
}

/*
  ========================================
  GENERIC SITE STYLES
  ========================================
*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--color-white);
    margin: 0 auto;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

section {
    max-width: 550px;
    margin: 1rem auto;
}

.home,
.contact-me {
    padding: 0 1rem 0 1rem;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

/*
  ========================================
  SHARED:
    TYPOGRAPHY
  ========================================
*/
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-black);
}

h1 {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: -2px;
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

h2, .p-special {
    font-size: 1.3rem;
}

h2 {
    font-weight: 600;
}

.skill-label {
    font-weight: bold;
}

.intro-p {
    font-size: 1.15rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

section {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

input,
button,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::placeholder {
    color: var(--color-white);
    opacity: 1;
}

/*
  ========================================
  SHARED: 
    PRIMARY NAVIGATION 
  ========================================
*/

.nav-link img {
    width: 100%;
    height: 100%;
}

.nav-link {
    font-size: 6vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-black);
    border-radius: 10px 10px 0 0;
}

nav li {
    text-align: center;
    flex-basis: 10%;
}

nav li:first-child {
    flex-basis: 25%;
    order: 2;
}

nav li:nth-child(2),
nav li:nth-child(3) {
    order: 1;
}

nav li:nth-child(4),
nav li:nth-child(5) {
    order: 3;
}

nav {
    background-color: var(--color-black);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    z-index: 999;
}

nav a {
    text-decoration: none;
    display: block;
    color: var(--color-white);
    padding: 0.2rem;
}

nav a:hover, nav a:active {
    color: var(--color-grey);
}

/*
  ========================================
  SHARED: 
    BUTTONS
  ========================================
*/
/* CODEPEN, FEEDBACK BUTTON */
.codepen-button,
.feedback-button {
    width: 300px;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    margin-bottom: 2rem;
}

.feedback-button {
    margin-bottom: 3rem;
}

.cp-link,
.fb-link {
    flex-basis: 15%;
    font-size: 2rem;
    padding-left: 1.8rem;
}

.p-special {
    flex-basis: 80%;
    padding-right: 0.4rem;
}

/* SUBMIT BUTTON */
input[type="submit"] {
    display: block;
    width: 100%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--color-yellow-brighter);
    border-color: var(--color-yellow-brighter);
    border-radius: 0.25rem;
    cursor: pointer;
    color: var(--color-black);
    font-weight: 600;
}



/*
  ========================================
  CUSTOM: 
    HOME SECTION
  ========================================
*/
.home p {
    margin: 0.4rem 0 0 0;
}

/*
  ========================================
  CUSTOM: 
    PROJECTS SECTION
  ========================================
*/
/* YELLOW WAVES */

.yellow-waves {
    flex-basis: 100%;
    background-image: url('../img/(Colorful-Others)_Icons_&_Pictures_Pp/Waves_Yellow_Picture.png');
    background-size: 100% 100%;
    height: 140px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}

.yellow-waves h2 {
    flex-basis: 100%;
    text-align: center;
}
.yellow-waves h1 {
    flex-basis: 100%;
}

/* FLEXBOX FOR CENTERING & SPACING */

.projects,
.projects article,
.feedback,
.about-me,
.about-me article,
.contact-me {
    padding: 0;
    margin: 0 auto; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;   
}

.feedback {
    gap: 0.1rem;
}

.projects h2,
.projects .flip-yeah {
    flex-basis: 100%;
}

.flip-yeah {
    display: flex;
    justify-content: center;
}

/* FLIP CARD */

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 280px;
    perspective: 1000px;
    margin: 0.4rem 0 0.4rem 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, 
.flip-card-back5, 
.flip-card-back6,
.flip-card-back3,
.flip-card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back5,
.flip-card-back6,
.flip-card-back3,
.flip-card-back4 {
    transform: rotateY(180deg);
    background-image: url('../img/(Light-Projects)_Small_Pp/Projects_Window_W_lightbg_Back.png');
    background-size: 100% 100%;
}

.flip-card-back5 p,
.flip-card-back6 p,
.flip-card-back3 p,
.flip-card-back4 p {
    font-size: 0.9rem;
    text-align: left;
    padding: 2.4rem 1rem 0 1rem;
    font-style: italic;
}
.flip-card-back5 .languages,
.flip-card-back6 .languages,
.flip-card-back3 .languages,
.flip-card-back4 .languages {
    padding: 0.4rem 1rem 0 1rem;
}

.flip-card-back5 .languages,
.flip-card-back6 .languages,
.flip-card-back3 .languages,
.flip-card-back4 .languages,
.flip-card-back5 li,
.flip-card-back6 li,
.flip-card-back3 li,
.flip-card-back4 li {
    font-style: normal;
    font-weight: bold;
}

.flip-card-back5 ul,
.flip-card-back6 ul,
.flip-card-back3 ul,
.flip-card-back4 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

.flip-card-back5 li,
.flip-card-back6 li,
.flip-card-back3 li,
.flip-card-back4 li {
    text-align: center;
    flex-basis: 10%;
    font-size: 0.7rem;
    padding: 0.3rem 0 0 1rem;
}

.flip-card-back5 li:first-child,
.flip-card-back6 li:first-child,
.flip-card-back3 li:first-child,
.flip-card-back4 li:first-child {
    padding: 0.3rem 0 0 2rem;
}

.flip-card-back5 img,
.flip-card-back6 img,
.flip-card-back3 img,
.flip-card-back4 img {
    width: 40px;
    height: auto;
}
    
/* FEEDBACK */
.feedback p {
    margin: 0 1rem 0 1rem;
}

/*
  ========================================
  CUSTOM: 
    ABOUT SECTION
  ========================================
*/
.about-me {
    margin-bottom: 1rem;
}

.about-me article {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

.about-me p  {
    margin-bottom: 0.7rem;
}

/* IMAGES SIZING */
.jk-dp,
.one-step {
    width:280px;
    height:255px;
}

.cpf-pics img {
    width: 87.2px;
    height: 80.9px;
}

.hcd-pics img:not(.design),
.ju-pics img:not(.design) {
    width: 68.6px;
    height: 77.8px;
}

.hcd-pics .design,
.ju-pics .design {
    width: 80px;
    height: 80px;
}

/* IMAGES POSITIONING */
.about-me .hcd-pics,
.about-me .ju-pics,
.about-me .cpf-pics {
    flex-basis: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

.cpf-pics li,
.hcd-pics li,
.ju-pics li {
    text-align: center;
    flex-basis: 25%;
}

.hcd-pics p
.ju-pics p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.intro-flexbasis {
    flex-basis: 100%;
    margin-bottom: 0;
}

/*
  ========================================
  CUSTOM:
    CONTACT
  ========================================
*/
/* FORM */
form {
    /* width: 60vw; */
    max-width: 450px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 0.25rem;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
}

input,
textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    padding: 5px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 0.25rem;
}

/* LINKS */
.links-pics img {
    width: 80px;
    height: 73px;
}
.contact-me .links-pics {
    flex-basis: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

.links-pics li {
    text-align: center;
    flex-basis: 25%;
}

.links-pics p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.link-label {
    font-size: 0.8rem;
    text-decoration: underline;
}

/*
  ========================================
  CUSTOM:
    FOOTER
  ========================================
*/
.footer-info {
    position: relative;
}

.footer-info h2,
.footer-info p {
    position: absolute;
}

.footer-info h2 {
    bottom: 86px;
}

.footer-info p {
    bottom: 65px;
}

